*/
*scans/

!.gitignore

!os/
!mathlogic/
!type_theory/
!economics/

*.agdai
*~
#*
*#
*.pdf
mathlogic/*.swp
mathlogic/*.out
mathlogic/*.toc
mathlogic/*.log
mathlogic/*.aux
mathlogic/*.synctex.gz
mathlogic/*.orig
mathlogic/*.bbl
mathlogic/*.blg
